{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"plugins": ["@tsrx/prettier-plugin", "prettier-plugin-svelte"],
	"overrides": [
		{
			"files": ["*.tsrx"],
			"options": {
				"bracketSameLine": false,
				"parser": "tsrx"
			}
		},
		{
			"files": [
				"packages/base-ui/src/**/*.tsrx",
				"packages/base-ui-utils/src/**/*.tsrx",
				"packages/octane/tests/_fixtures/compiler-generic-interface.tsrx"
			],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": ["**/*.json"],
			"options": {
				"useTabs": false
			}
		},
		{
			"files": ["**/*.yml", "**/*.yaml"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
